<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Login Form</title>
</head>
<body>
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form action="#">
      <div class="row">
        <h5>Username</h5>
        <input type="text"  placeholder=" &#xF002; Placeholder" required style="font-family:Arial, FontAwesome" >
      </div>
      <div class="row">
        <h5>Password</h5>
        <input type="password" placeholder=" &#xF002; Placeholder" required style="font-family:Arial, FontAwesome">
      </div>
      <div class="row1">
        <h5>Environment</h5>
        <input type="text" placeholder=" &#xF002; Placeholder" required style="font-family:Arial, FontAwesome" disabled>
      </div><br><br><br>
    </form>
    <div class="wrapper1">
      <div class="row">
        <i class="fa fa-google fa-1x"></i>
        <button>Sign in with Google</button>
      </div>
    </div><br>
  </div>
</body>
</html>