<div class="main-div">
  <div class="title">Log In</div>
  <div class="wrapper">
    <form [formGroup]="inputsForm" (ngSubmit)="save()" name="myForm">
      <div class="row form-group">
        <h5>Username</h5>
        <input type="text" placeholder=" &#xF002; Placeholder" name="UserNameOrEmail" [(ngModel)]="inputData" 
          formControlName="UserNameOrEmail" (keyup.enter)="onKeyUp($event)"  (mouseleave)="onKeyUp($event)" required style="font-family:Arial, FontAwesome"
          class="form-control">

        <i class="fas fa-times-circle" *ngIf="inputData" (click)="clear()" ></i>
        <p class="validation"
          *ngIf="inputsForm.controls['UserNameOrEmail'].dirty && inputsForm.hasError('required', 'UserNameOrEmail')">
          *Username is required</p>
        <p class="validation">{{error}}</p>
        <!-- <p class="validation" *ngIf="inputsForm.controls['UserNameOrEmail'].dirty && inputsForm.hasError('pattern', 'UserNameOrEmail')">*Enter a valid Username or Email</p> -->

      </div>
      <div class="row">
        <h5>Password</h5>
        <input [type]="changeType? 'Password':'text'" placeholder=" &#xF002; Placeholder" name="Password" formControlName="Password" required [(ngModel)]="inputdata"
          class="form-control" style="font-family:Arial, FontAwesome">
        <span (click)= "viewpass()"><i *ngIf="inputdata" [ngClass]= "visible? 'fas fa-eye' : 'fas fa-eye-slash'" ></i></span>
       
        <p class="validation"
          *ngIf="inputsForm.controls['Password'].dirty && inputsForm.hasError('required', 'Password')">*Password is
          required</p>
        <p class="validation"
          *ngIf="inputsForm.controls['Password'].dirty && inputsForm.hasError('minlength', 'Password')">*Minimum 6
          characters required </p>

      </div>

      <div class="row">
        <a href="#">Reset Password</a>
      </div>
      <div class="row1">
        <h5>Environment</h5>
        <select class="environment" [ngModel]="inputenv" required formControlName="EnvironmentID" name="EnvironmentID" [style.background-color]='inputenv? "white":"rgb(242, 239, 239)"'>
          <option> </option>
          <option type="text"  *ngFor="let env of data" style="font-family:Arial, FontAwesome" >
            {{env.organizationEnvironmentName}}</option>
        </select>
      </div>
      <button mat-raised-button color="primary" class="mat-raised-button">Login</button>
      <!-- [disabled]="!inputenv" -->

      <br><br><br>
      <p>Or,</p>
    </form>
    <!-- <div class="sec-div">
          <div class="wrapper1">
            <div class="row">
              <i class="fab fa-google fa-1x"></i>
              <button class="btn">Sign in with Google</button>
            </div>
          </div><br>
          <div class="wrapper1">
            <div class="row">
              <button class="btn2"><span class="fab fa-apple"></span> Continue with Apple</button>
            </div>
          </div><br>
          <div class="wrapper1">
            <div class="row">
              <button class="btn3"><span class="fab fa-microsoft" ></span> Sign in with Microsoft</button>
            </div>
          </div>
        </div> -->


    <div class="sec-div">
      <div class="wrapper1">
        <div class="row">
          <button class="btn2"><span class="fab fa-google fa-1x"></span> Sign in with Google</button>
        </div>
      </div><br>
      <div class="wrapper1">
        <div class="row">
          <button class="btn2"><span class="fab fa-apple"></span> Continue with Apple</button>
        </div>
      </div><br>
      <div class="wrapper1">
        <div class="row">
          <button class="btn2" style="margin-bottom:25px ;"><span class="fab fa-microsoft"></span> Sign in with
            Microsoft</button>
        </div>
      </div>
    </div>
  </div>
</div>